.iconbigfile {
  color: red;
}
.nameChildParent {
  display: flex;
  position: absolute;
  align-items: center;
  .textChild {
    display: flex;
    margin-right: 3vw;
    width: 300px;
    font-size: small;
    flex-direction: column;
    .graytext {
      color: #9e9e9e;
    }
    .subtitletext {
      padding-bottom: 10%;
      .seeRestrictions {
        color: #3b82f6;
      }
      .plustag {
        color: #3b82f6;
      }
    }
    .first {
      padding: 2% 0 0 0;
    }
  }
}
