.searchBox {
  margin: 0.4rem;
  input {
    width: 100%;
  }
  input::placeholder {
    font-size: small;
  }
}
.p-treenode-content {
  background-image: linear-gradient(#eff6ff, #eff6ff);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.1s;
  &:hover {
    background-size: 100% 100%;
  }
}
.mainSidebar {
  margin: 0.5rem;
  max-width: 30vh;
  height: fit-content;
}
.menuSidebar {
  width: 35vw;
}
.treeElement {
  border: 0;
  padding: 0%;
}
