.toggleParent{
  display: flex;
  align-items: center;
  .checkbox, .buttonToggle{
    display: flex;
    margin: 0;
  }
}
table > thead > tr > th.p-selection-column > div{
  display: none;
}
.nameParent{
  display: flex;
  flex-direction: column;
  .nameFirst, .nameSecond{
    display: flex;
  }
  .nameSecond{
    justify-content: space-between;
    .leftElements, .rightElements{
      display: flex;
      font-weight: 300;
      font-size: small;
    }
    .leftElements{
      .text{
        margin-right: 1vw;
      }
    }
  }
}
.tagParent{
  display: flex;
  .tagone, .tagtwo{
    background-color: #f5f5f5;
    padding: 0.5vh;
    border-radius: 10px;
    display: flex;
    .icon, .text{
      display: flex;
      color: blue;
    }
    .text{
      padding-left: .2vw;
      background: inherit;
    }
  }
  .tagtwo{
    margin-left: .5vw;
  }
}
.statusParent{
  .processedtext{
    
    color:#258b47;
  }
  .errorarea{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    &.red{
      color: #af2b27;
    }
    &.orange{
      color: #d06323;
    }
    .errorText{
      display:flex;
    }
    .errorIcon{
      display:flex;
    }
  }
}
.dateParent{
  .datetext{
    font-size: small;
  }
}
.idParent{
  .idtext{
    font-size: small;
    font-weight: 600;
  }
}